body {
  height: 100vh;
  margin: 0;
  padding: 0;
  cursor: url('/img/jeton-de-casino.png'), auto;
}

.container {
  margin: 100px auto;
  max-width: 600px;
  box-shadow: 0 0 10px;
  border-radius: 30px;
  padding: 20px;
  color: white;
  background: rgba(30, 30, 30, 100);
}

.container h1 {
  text-align: center;
}

form {
  display: grid;
  padding: 20px 50px;
  color: rgba(30, 30, 30, 100);
}

form label {
  color: white;

}

form input {

  margin-bottom: 10px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

nav {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}



nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

nav li {
  list-style: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s;
}


.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container img {
  object-fit: cover;

}

.main-container h1 {
  margin: 0;
  font-size: 2em;
}


.main-container p {
  line-height: 20px;

}

.welcome-text {
  margin: 50px auto;
  max-width: 600px;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;

}



.main-button {
  text-align: center;

}

#button-odds {
  background: green;
  width: 250px;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

#button-ko {
  background: green;
  width: 250px;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

#button-ko:hover,
#button-odds:hover {
  transform: translateY(-2px);
}